.header {
  background-image: url('../Img/portada.jpg');
  background-position: 100%;
  width: 100%;
  height: 650px;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-position-y: -130px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header .name {
    color:rgb(228, 224, 227);
    font-size: 3.4em;
    padding-top: 30%; }
.header .title {
    color: rgba(255, 45, 189, 0.96);
    font-weight: 600;
    font-size: 18px;
    line-height: 62px;
    width: 277px;
    height: 62px;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    background-size: contain;
    clear: both;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    border: 0;
    background-color: transparent; }

#about{
  height: 100vh;
}

#about .text-vertical{
  width:5px;
  word-wrap: break-word;
  text-align:center;
  font-weight: bold;
  font-size: 13px;
  margin-left: 40px;
  margin-top: 40%;
  color: #3B3B3B;
}
#about .aboutme{
  margin-left: 40px;
  font-weight: 800;
  font-size: 40px;
  color: rgba(255, 45, 189, 0.96);
}
#about .me{
  color: #746F6F;
}
#about .title {
    text-transform: uppercase;
    letter-spacing: 3px; }
#about .perfil2 {
    margin-left: 15%;
    width: auto;
    height: 450px;
}
#about .description {
   margin-top:10%;
    padding-right: 20%;}
#about .description .icons {
      width: 100%;
      height: 80px;
      border-radius: 50%;
      display: inline-block;
      align-content: center;
      margin-right: 10px;
      font-size: 0.8em; }
    .about .description .resume {
      font-size: 18px;
      line-height: 62px;
      width: 277px;
      height: 62px;
      margin: 0 auto;
      padding: 0;
      text-transform: uppercase;
      background-size: contain;
      clear: both;
      min-width: 200px;
      transition: background .3s ease;
      text-align: center;
      text-decoration: none;
      border: 0; }
      

a {
  color: rgba(255, 66, 224, 0.52); }

    .about .title {
      text-transform: uppercase;
      letter-spacing: 3px; }
    .about .description {
      padding-right: 0%;
      padding: 5%;
      text-orientation: justify; }
    .about .icons {
      margin-right: 20px;
      font-size: 1.2em; } 
.skills{
  width: 100%;
  background: #3F3B3B;
}
.skills .titleSkills{
  color: #fff;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 150px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #fff;
  font-weight: 500;
 }

 .skills .fa-circle{
   margin-right: 2px;
   color: #F595D8;
 }
ul > li {
  min-height: 30px;
  padding: 3px 0; }
.skills .skillsImg{
  width: 450px;
  height: 430px;
}
.skills .myskills{
  margin-left: 100px;
  font-weight: 800;
  font-size: 40px;
  padding-top: 50px;
  color: rgba(255, 45, 189, 0.96);
}
.skills .skillsmatch{
  color: #D6D3D3;
}
.skills .text-vertical{
  width:5px;
  word-wrap: break-word;
  text-align:center;
  font-weight: bold;
  font-size: 13px;
  margin-right: 40px;
  float: right;
  margin-top: 10%;
  color: #FCFCFC;
}
.abilities ul > li .ability-title {
  display: inline-block;
  width: 60%; }

.ability-score {
  float: right;
  color: #E48BD8;
  font-size: 14px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.photoSmile {
  height: 300px;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: -260px; }

.titleSkills {
  text-transform: uppercase;
  letter-spacing: 3px !important;
  padding-top: 10%;
  z-index: 2; }


  ul.no-bullets {
    padding: 68px; } 
.portfolioImg {
  width: 100%;
  height: 150px !important;
  -webkit-filter: grayscale(1);
  filter: gray; }

.iconSee, .iconCode {
  font-size: 2em;
  padding-top: 1.5px;
  margin-right: 2%; }


.photoContact {
  height: 662px;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 0px; }

.content-contact .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5); }

.form-control {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;}
.formContact {
  padding-top: 20px; }

.titleContact {
  padding-top: 180px;}

.btnSend {
  font-size: 18px;
  line-height: 62px;
  width: 277px;
  height: 62px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  background-size: contain;
  clear: both;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  border: 0;
  background-color: transparent; }

.phrase {
  text-align: center;
  height: 20vh;
  font-family: "Dosis", sans-serif; }
  .phrase .text {
    font-size: 2em;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-top: 10px; }
  .phrase .author {
    font-size: 1.2em;
    padding-right: 20%; }

.insignia {
  width: 120px;
  margin-left: 25px; }

.badgetIcon {
  background-color: white;
  margin-bottom: 90px; }
